body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: rgb(56, 56, 56);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
main{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer{
  text-align: center;
  display: grid;
  place-content: center;

}
