.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="tel"],
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    color: #555;
    margin: 20px 0;
  }
  
  .signup {
    margin-top: 20px;
    text-align: center;
  }

  .signup h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .header-content {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
  }
  
  @media (max-width: 600px) {
    .login {
      max-width: 100%;
      border-radius: 0;
    }
  }